1. Квадраты всех четных чисел (используя map и filter)

In [113]:
numbers = [1,2,3,4,5]
numbers_square = list(filter(lambda x : x % 2 == 0, map(lambda x : x ** 2, numbers)))

numbers_square

[4, 16]

2. Дана входная строка и массив чисел, необходимо вернуть строку с теми буквами, которые стоят на указанных местах 
(два варианта, используя и не используя list comprehensions)

In [114]:
# without list comprehensions
str = "Всем привет"
numbers = [1, 3, 5]
new_str = ""
for x in numbers:
    new_str+=str[x]
        
new_str

'смп'

In [115]:
#with list comprehensions
str = "Всем привет"
numbers = [1, 3, 5]
new_str = ''.join([str[i] for i in numbers])

new_str

'смп'

3. Задание на итераторы. Необходимо вернуть текст, в котором все буквы в нижнем регистре, а первые буквы
каждого предложения – в верхнем.

In [116]:
text = "hELLo. my nAMe Is SAm. I am sIx."
text_arr = text.split('. ')
res_text = []
for sentence in text_arr:
    sentence = sentence[:1].upper() + sentence[1:].lower()
    res_text.append(sentence)
new_text = '. '.join(res_text)

new_text

'Hello. My name is sam. I am six.'

4. functools.reduce

In [117]:
def reduce(function, iterable, initializer = None):
    it = iter(iterable)
    if initializer is None:
        value = next(it)
    else:
        value = initializer
    for element in it:
        value = function(value, element)
    return value

reduce(lambda x, y: x*y, [1, 3, 7, 9])

189

5. Создайте функцию pipeline_each, в которую вы будете подавать итерируемый объект и список функций, которые последовательно надо к нему применить.

In [60]:
def pipeline_each(it, functions):
    for f in functions:
        for i, j in enumerate(it):
            it[i] = f(j)
    return it

it = [1, 2, 3, 4, 5]

functions = [
    lambda x: x**3,
    lambda x: x-1,
    lambda x: x/2
]
        
pipeline_each(it, functions)

[0.0, 3.5, 13.0, 31.5, 62.0]

In [ ]:
6. Написать генератор, возвращающий по очереди все слова, входящие в предложение.

In [118]:
text = "Hello, My name is Sam. I am six."

def generator(text):
    text = text.split(' ')
    for word in text:
        yield word

for word in generator(text):
    print(word)

Hello,
My
name
is
Sam.
I
am
six.

7. Написать генератор псевдо случайных чисел

In [119]:
def generator(seed = 0):
    if (seed == 0):
        seed = 1000+(684513%864)
    while True:
        seed = 1000+(seed**3)%(seed%864)
        yield seed

rand = generator(8)

for i in range(5):
    print(next(rand))

1000
1024
1064
1144
1104

8. Написать корутину, которая реализует бесконечную
арифметическую прогрессию с возможностью перезапуска с
любого места (3, 4, 5, 6, send(30), 31, 32, 33, …)

In [120]:
def coroutine():
    value = 0
    while True:
        input = (yield value)
        if input is not None:
            value = input
        else:
            value += 1
            
cor = coroutine()
for i in range(3):
    print(next(cor))

cor.send(32)

for i in range(4):
    print(next(cor))
    
cor.send(102)

for i in range(5):
    print(next(cor))

0
1
2
33
34
35
36
103
104
105
106
107